@import '~antd/dist/antd.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrap-layout {
  min-height: 100vh;
}

.background-white {
  background: #fff;
}

.header {
  padding-left: 0;
  padding-right: 16px;
}

.current-channel-badge {
  background-color: #1890ff;
}

.sidebar-top {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.sidebar-locker {
  color: #fff;
  padding: 22px;
  font-size: 20px;
}

.sidebar-locker:hover {
  cursor: pointer;
  color: #a0d0ff;
}

.header-menu {
  display: flex;
  float: right;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.user-profile {
  cursor: pointer;
  margin-left: 20px;
}

.flex-center {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.card {
  width: 400px;
}

.link-recover {
  float: right;
}

.submit-button {
  margin-top: 16px;
}

.alert {
  margin: 0 0 24px;
}

.center {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.chat-window {
  height: calc(100vh - 104px);
  overflow-y: scroll;
}

.chat-empty {
  display: flex;
  height: calc(100vh - 104px);
  align-items: center;
  justify-content: center;
}

.input-form {
  display: flex;
}

.input-messaage {
  width: 100%;
  margin-bottom: 0;
}

.send-button {
  margin-bottom: 0;
}
